<h1 mat-dialog-title align="center"> Agregar empleado </h1>
<div mat-dialog-content style="width: 100%">
    <form [formGroup]="formRegister">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="formRegister.controls.name.invalid">Este campo es requerido</mat-error>

      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="last_name" required>
        <mat-error *ngIf="formRegister.controls.last_name.invalid">Este campo es requerido</mat-error>

      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthday" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formRegister.controls.birthday.invalid">Este campo es requerido</mat-error>

      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions style="display: grid">
  <button mat-button color="accent" (click)="cancel()">Cancelar</button>
  <button mat-raised-button cdkFocusInitial color="accent" (click)="registerEmployee()">Guardar</button>
</div>
